
*{
  margin: 0;padding: 0;
  
}
/*Footer*/
.navi{

  background-color: #070707;
  padding: 20px;
  box-shadow: 0px 4px 10px 4px;
  width: 100%;
  
}
.nav-ul{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

  .nav-ul li {
    display: inline;
    
    background-color: #070707;
  }
  .nav-ul li a{
    color: aliceblue;
  }

/*Footer*/

.footer{
  position:fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  
  background-color:#070707;
  color: aliceblue;
 
}


/*Signup*/
.Register{

  margin-left: 30%;
 display:inline-block;
 
 padding: 30px;

  
}

.input{
  display: block;
  margin: 30px;
  padding: 10px;
  width: 80%;
  border: 1px  solid rgb(37, 36, 36) ;
  border-radius: 10px;
}

.button{
  margin: 40px;
 padding:11px;
 width: 80%;
 color: aliceblue;
 background-color: #060606;
 border: 1px  solid rgb(1, 1, 1) ;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover{
  background-color: #3d3c3c;
}

/*
login
*/

.login,.add-product,.update-product{

  margin-left: 30%;
 display:inline-block;
 
 padding: 30px;

  
}

@media screen and (max-width: 768px) {
  .nav-ul {
    flex-direction: column;
  }

  .nav-ul li {
    margin: 5px 0;
  }

 
    



  
 .input{
  display: block;
  margin: 30px;
  padding: 10px;
  width: 40%;
  border: 1px  solid rgb(37, 36, 36) ;
  border-radius: 10px;
}

 .button{
  margin: 40px;
 padding:11px;
 width: 40%;
 color: aliceblue;
 background-color: #060606;
 border: 1px  solid rgb(1, 1, 1) ;
  border-radius: 10px;
  cursor: pointer;
}




}

/*logo*/

.logo
{
   width: 35px;
   display: block;
   float: left;
   border-radius: 50%;
  padding-bottom: 15px;
  margin-top: -0.6%;
   
   height: 32px;
}


/*Product*/

.invalid-input{
  margin-top: -10%;
  color: red;
  display: block;
  margin-left: 15%;
}

/*Product list*/

.search-box{
  width: 30%;
  margin: 3%;
  padding: 20px;
  height: 1vh;
  border: 2px  rgb(104, 102, 102) ;
  border-radius: 10px;
  background-color: #bdbdbd;
  color: #1b202a;
  
  
}


.product-list{
  text-align: center;
  margin-top: 50px;
  
}
.product-list ul li {
  display: inline-block;
  border: 1px solid rgb(14, 14, 14);
  padding: 2px;
  width: 15%;
  ;
}

.product-list ul{
  margin: 0;
  width: 100%;
}

.productscss{
  max-width: 60%;
  margin-top: 3%;
  margin-left: 5%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #c9c8c8;
  margin-bottom: 50px;
}

/*css profile*/

.profilecss {
  max-width: 30%;
  margin-top: 3%;
  margin-left: 5%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(226, 226, 226, 0.896);
  margin-bottom: 20px;
}





.profilecss h1 {
  color: #333;
}

.profilecss p {
  margin: 10px 0;
}

.profilecss p label {
  font-weight: bold;
}

.profilecss p.password {
  color: #888;
}



